@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

body {
  font-family: "Gilmer", sans-serif;
  background-color: #f4f4f4;
  overflow-x: hidden; /* Added to prevent horizontal overflow */
}

nav {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-brand img {
  height: 60px; /* Unified height */
}

.navbar-brand {
  padding-right: 55%;
}

.navbar-nav .nav-link {
  font-family: "Montserrat";
  color: #006400; /* Unified color */
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out; /* Added transition for hover effect */
}

.navbar-nav .nav-link:hover {
  color: #32cd32;
}

.nav-item {
  color: #006400;
}

.navbar-nav .nav-link-btn {
  background-color: #ffffff;
  border: none;
  color: #006400;
  font-weight: bold;
  margin-right: 50px; /* Unified margin-right */
  transition: background-color 0.3s ease-in-out;
}

.navbar-nav .nav-link-btn:hover {
  background-color: #006400;
  border-color: #006400;
}

.custom-card {
  color: black;
  margin: 10px;
}

.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-big-green,
.btn-contact {
  background-color: #006400;
  color: #ffffff;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.btn-big-green:hover,
.btn-contact:hover {
  background-color: #32cd32;
}

.img-fluid {
  max-width: 100%;
  max-height: 100vh;
  height: auto;
}

.contact-img-wrapper,
.login-img-wrapper {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-form,
.login-form {
  margin-top: 20px;
  min-width: 200px;
  max-width: 600px; /* Adjusted for unified width */
  margin: auto;
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-info {
  margin: 50px auto;
  padding: 30px;
}

span {
  color: #32cd32;
  font-size: larger;
  font-weight: 500;
}

pre {
  font-family: "Gilmer", sans-serif;
  text-wrap: wrap;
  font-size: larger;
  padding-left: 40px;
  padding-right: 70px;
}

h1 {
  font-family: "Montserrat";
}
footer {
  text-align: center;
  padding: 50px;
  background-color: rgb(30, 30, 30);
  color: white;
}
@media (min-width: 992px) {
  .vertical-center {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
